In [1]:
import pandas as pd
import numpy as np
# unemployment, racial distribution, %foreign born, education by county No., urbanization

In [2]:
df=  pd.read_csv('../df/DECENNIALPL2020.P1_data_with_overlays_2022-04-22T144623.csv')

In [3]:
len(df['NAME'].unique())

3223

In [4]:
statell = []
countyll = []
for geoid in df['GEO_ID'].values:
    tmp = geoid.find('US') +2
    tmp = geoid[tmp:]
    if len(tmp) == 5 and tmp[0] !=0:
        #if tmp[0]!=0:
        #print(tmp[:3])
        countyll.append(int(tmp[-3:]))
        statell.append(int(tmp[:2]))
    #else:
     #       statell.append(int(tmp[:3]))
    else:
        #print(geoid)
        statenom =  np.nan
        countyll.append(statenom)
        statell.append(statenom)

In [5]:

df['CountyNo'] =  countyll
df['StateNo'] =  statell

#newdf = pd.DataFrame(data={'CountyNo' : statell[1:]})

In [6]:
 
import json
  
# Opening JSON file
f = open('statefipsdict.json')
  
# returns JSON object as 
# a dictionary
statefipsdict = json.load(f)
f.close()

In [7]:
o=0
for i in df.iloc[0]:
    print(o,i)
    o+=1

RaceCategories =['NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific)',
'Asian (EastAsian,SouthAsian)',
'Black',' White',' Mixed', 'OtherUnknown']
Columns = [[6,8],7,5,4,2,9]

0 id
1 Geographic Area Name
2  !!Total:
3  !!Total:!!Population of one race:
4  !!Total:!!Population of one race:!!White alone
5  !!Total:!!Population of one race:!!Black or African American alone
6  !!Total:!!Population of one race:!!American Indian and Alaska Native alone
7  !!Total:!!Population of one race:!!Asian alone
8  !!Total:!!Population of one race:!!Native Hawaiian and Other Pacific Islander alone
9  !!Total:!!Population of one race:!!Some Other Race alone
10  !!Total:!!Population of two or more races:
11  !!Total:!!Population of two or more races:!!Population of two races:
12  !!Total:!!Population of two or more races:!!Population of two races:!!White; Black or African American
13  !!Total:!!Population of two or more races:!!Population of two races:!!White; American Indian and Alaska Native
14  !!Total:!!Population of two or more races:!!Population of two races:!!White; Asian
15  !!Total:!!Population of two or more races:!!Population of two races:!!White; Native Hawaiian and Other Pacific Islander
16  !!Total:!!Population of two or more races:!!Population of two races:!!White; Some Other Race
17  !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; American Indian and Alaska Native
18  !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Asian
19  !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Native Hawaiian and Other Pacific Islander
20  !!Total:!!Population of two or more races:!!Population of two races:!!Black or African American; Some Other Race
21  !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Asian
22  !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
23  !!Total:!!Population of two or more races:!!Population of two races:!!American Indian and Alaska Native; Some Other Race
24  !!Total:!!Population of two or more races:!!Population of two races:!!Asian; Native Hawaiian and Other Pacific Islander
25  !!Total:!!Population of two or more races:!!Population of two races:!!Asian; Some Other Race
26  !!Total:!!Population of two or more races:!!Population of two races:!!Native Hawaiian and Other Pacific Islander; Some Other Race
27  !!Total:!!Population of two or more races:!!Population of three races:
28  !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; American Indian and Alaska Native
29  !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Asian
30  !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Native Hawaiian and Other Pacific Islander
31  !!Total:!!Population of two or more races:!!Population of three races:!!White; Black or African American; Some Other Race
32  !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Asian
33  !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
34  !!Total:!!Population of two or more races:!!Population of three races:!!White; American Indian and Alaska Native; Some Other Race
35  !!Total:!!Population of two or more races:!!Population of three races:!!White; Asian; Native Hawaiian and Other Pacific Islander
36  !!Total:!!Population of two or more races:!!Population of three races:!!White; Asian; Some Other Race
37  !!Total:!!Population of two or more races:!!Population of three races:!!White; Native Hawaiian and Other Pacific Islander; Some Other Race
38  !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Asian
39  !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
40  !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; American Indian and Alaska Native; Some Other Race
41  !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Asian; Native Hawaiian and Other Pacific Islander
42  !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Asian; Some Other Race
43  !!Total:!!Population of two or more races:!!Population of three races:!!Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race
44  !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
45  !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Asian; Some Other Race
46  !!Total:!!Population of two or more races:!!Population of three races:!!American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
47  !!Total:!!Population of two or more races:!!Population of three races:!!Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
48  !!Total:!!Population of two or more races:!!Population of four races:
49  !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Asian
50  !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander
51  !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; American Indian and Alaska Native; Some Other Race
52  !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander
53  !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Asian; Some Other Race
54  !!Total:!!Population of two or more races:!!Population of four races:!!White; Black or African American; Native Hawaiian and Other Pacific Islander; Some Other Race
55  !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
56  !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Asian; Some Other Race
57  !!Total:!!Population of two or more races:!!Population of four races:!!White; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
58  !!Total:!!Population of two or more races:!!Population of four races:!!White; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
59  !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
60  !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Asian; Some Other Race
61  !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
62  !!Total:!!Population of two or more races:!!Population of four races:!!Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
63  !!Total:!!Population of two or more races:!!Population of four races:!!American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
64  !!Total:!!Population of two or more races:!!Population of five races:
65  !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander
66  !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Asian; Some Other Race
67  !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; American Indian and Alaska Native; Native Hawaiian and Other Pacific Islander; Some Other Race
68  !!Total:!!Population of two or more races:!!Population of five races:!!White; Black or African American; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
69  !!Total:!!Population of two or more races:!!Population of five races:!!White; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
70  !!Total:!!Population of two or more races:!!Population of five races:!!Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
71  !!Total:!!Population of two or more races:!!Population of six races:
72  !!Total:!!Population of two or more races:!!Population of six races:!!White; Black or African American; American Indian and Alaska Native; Asian; Native Hawaiian and Other Pacific Islander; Some Other Race
73 nan
74 nan

In [10]:
dfcols = df.columns
racedist = dict()
racedist["CountyNo"]= countyll[1:-1]
racedist["StateNo"]= statell[1:-1]
for kk, col in enumerate(Columns):
    racedist[RaceCategories[kk]] = []
    print(col)
    print(RaceCategories[kk],df[dfcols[col]].iloc[0])
    if col != 2:
        for ii in range(1,len(df)-1):
            tmp = pd.to_numeric(df[dfcols[col]].iloc[ii]).sum()
            racedist[RaceCategories[kk]].append(tmp)
    else:
        for ii in range(1,len(df)-1):
            tmp = pd.to_numeric(df[dfcols[2]].iloc[ii])  - pd.to_numeric(df[dfcols[3]].iloc[ii]) 
            racedist[RaceCategories[kk]].append(tmp)


newdf = pd.DataFrame(data=racedist)

newdf['CountyNo'] = pd.to_numeric(newdf['CountyNo'])

newdf['StateNo'] = pd.to_numeric(newdf['StateNo'])
newdf = newdf[['StateNo','CountyNo','NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific)',
       'Asian (EastAsian,SouthAsian)', 'Black', ' White', ' Mixed',
       'OtherUnknown']]

[6, 8]
NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific) P1_005N     !!Total:!!Population of one race:!!American I...
P1_007N     !!Total:!!Population of one race:!!Native Haw...
Name: 0, dtype: object
7
Asian (EastAsian,SouthAsian)  !!Total:!!Population of one race:!!Asian alone
5
Black  !!Total:!!Population of one race:!!Black or African American alone
4
 White  !!Total:!!Population of one race:!!White alone
2
 Mixed  !!Total:
9
OtherUnknown  !!Total:!!Population of one race:!!Some Other Race alone

In [11]:
newdf

,StateNo,CountyNo,"NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific)","Asian (EastAsian,SouthAsian)",Black,White,Mixed,OtherUnknown
0,1,1,252,881,11445,42160,3157,910
1,1,3,1725,2067,18217,189399,15024,5335
2,1,5,117,117,11933,11317,700,1039
3,1,7,69,32,4413,16555,759,465
4,1,9,361,178,845,50663,3656,3431
...,...,...,...,...,...,...,...,...
3216,72,145,469,28,3491,10042,26601,13783
3217,72,147,87,7,1256,1551,2122,3226
3218,72,149,130,10,1380,3429,10942,6202
3219,72,151,206,8,2941,5028,10706,11537
3220,72,153,211,25,1617,7312,15214,9793

In [14]:
newdf['StateNo'] = newdf['StateNo'].astype(str)

In [19]:
newdf['STATE'] =newdf['StateNo'].replace(statefipsdict)

In [43]:
def HerfindalIndex(vals):
    #print(vals)
    sumvals = sum(vals)
    #print(sumvals)
    vals= [val/sumvals for val in vals]
    tmp = 0
    for val in vals:
        tmp += val**2
    #print(tmp)
    return tmp

In [44]:
newdf.columns[2:8]

Index(['NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific)',
       'Asian (EastAsian,SouthAsian)', 'Black', ' White', ' Mixed',
       'OtherUnknown'],
      dtype='object')

In [45]:
hhi = []
for i in range(len(newdf)):
    hhi.append(HerfindalIndex(newdf[newdf.columns[2:8]].iloc[i].values))
newdf['HHI'] = hhi

In [48]:
newdf = newdf.drop('StateNo',axis=1)

In [50]:
newdf.to_csv('../df/RacialCompositionbyCounty.csv')

In [51]:
newdf

,CountyNo,"NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific)","Asian (EastAsian,SouthAsian)",Black,White,Mixed,OtherUnknown,STATE,HHI
0,1,252,881,11445,42160,3157,910,AL,0.555255
1,3,1725,2067,18217,189399,15024,5335,AL,0.678854
2,5,117,117,11933,11317,700,1039,AL,0.427645
3,7,69,32,4413,16555,759,465,AL,0.592261
4,9,361,178,845,50663,3656,3431,AL,0.741458
...,...,...,...,...,...,...,...,...,...
3216,145,469,28,3491,10042,26601,13783,PR,0.341396
3217,147,87,7,1256,1551,2122,3226,PR,0.277764
3218,149,130,10,1380,3429,10942,6202,PR,0.352123
3219,151,206,8,2941,5028,10706,11537,PR,0.304290
3220,153,211,25,1617,7312,15214,9793,PR,0.328411

In [39]:
newdf

,"NativeAmerican (AmericanIndianAlaskaNative, NativeHawaianPacific)","Asian (EastAsian,SouthAsian)",Black,White,Mixed,OtherUnknown,HerfindalIndex
CountyNo,,,,,,,
1,252,881,11445,42160,3157,910,0.555245
3,1725,2067,18217,189399,15024,5335,0.678850
5,117,117,11933,11317,700,1039,0.427631
7,69,32,4413,16555,759,465,0.592230
9,361,178,845,50663,3656,3431,0.741440
...,...,...,...,...,...,...,...
145,469,28,3491,10042,26601,13783,0.341392
147,87,7,1256,1551,2122,3226,0.277745
149,130,10,1380,3429,10942,6202,0.352112
151,206,8,2941,5028,10706,11537,0.304284
153,211,25,1617,7312,15214,9793,0.328405

In [43]:
df['StateNostr'] = df['StateNo'].astype(str)
df['CountyNo'] = df['CountyNo'].astype(int)
df['StateNostr'] = df['StateNostr'].replace(statefipsdict)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

,GEO_ID,NAME,P1_001N,P1_002N,P1_003N,P1_004N,P1_005N,P1_006N,P1_007N,P1_008N,...,P1_065N,P1_066N,P1_067N,P1_068N,P1_069N,P1_070N,P1_071N,CountyNo,StateNo,StateNostr
1,0500000US01001,"Autauga County, Alabama",58805,55648,42160,11445,217,881,35,910,...,0,0,0,0,0,0,0,1.0,1.0,1.0
2,0500000US01003,"Baldwin County, Alabama",231767,216743,189399,18217,1582,2067,143,5335,...,0,0,0,0,0,0,0,3.0,1.0,1.0
3,0500000US01005,"Barbour County, Alabama",25223,24523,11317,11933,116,117,1,1039,...,0,0,0,0,0,0,0,5.0,1.0,1.0
4,0500000US01007,"Bibb County, Alabama",22293,21534,16555,4413,60,32,9,465,...,0,0,0,0,0,0,0,7.0,1.0,1.0
5,0500000US01009,"Blount County, Alabama",59134,55478,50663,845,337,178,24,3431,...,0,1,0,0,0,0,0,9.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3218,0500000US72147,"Vieques Municipio, Puerto Rico",8249,6127,1551,1256,86,7,1,3226,...,0,0,0,0,0,0,0,147.0,72.0,72.0
3219,0500000US72149,"Villalba Municipio, Puerto Rico",22093,11151,3429,1380,130,10,0,6202,...,0,0,0,0,0,0,0,149.0,72.0,72.0
3220,0500000US72151,"Yabucoa Municipio, Puerto Rico",30426,19720,5028,2941,199,8,7,11537,...,0,0,0,0,0,0,0,151.0,72.0,72.0
3221,0500000US72153,"Yauco Municipio, Puerto Rico",34172,18958,7312,1617,209,25,2,9793,...,0,0,0,0,0,0,0,153.0,72.0,72.0
3222,0100000US,United States,331449281,297600338,204277273,41104200,3727135,19886049,689966,27915715,...,9141,1137,1021,1309,445,2505,2505,NaN,NaN,nan